.Block-1 {
  width: 150px;
  height: 50px;
  border: 4px solid black;
}
.Block-2 {
  background: red;
  height: 100%;
  width: 33%;
}

.Block-3 {
  width: 10px;
  height: 20px;
  background: black;
  right: -150px;
  top: 15px;
  position: relative;
}
.Block-4 {
  width: 150px;
  height: 50px;
  border: 4px solid black;
}
.Block-5 {
  background: yellow;
  height: 100%;
  width: 66%;
}

.Block-6 {
  width: 10px;
  height: 20px;
  background: black;
  right: -150px;
  top: 15px;
  position: relative;
}
.Block-7 {
  width: 150px;
  height: 50px;
  border: 4px solid black;
  margin-bottom: 10px;
}
.Block-8 {
  background: green;
  height: 100%;
  width: 100%;
}

.Block-9 {
  width: 10px;
  height: 20px;
  background: black;
  right: -150px;
  top: 15px;
  position: relative;
}

.size {
  width: 100;
  height: 10vh;
  position: relative;
}

.progress {
  border: 1px solid black;
  height: 20px;
  border-radius: 10px;
  position: relative;
  background: linear-gradient(#333, #999);
  box-shadow: 3px 0 3px;
  overflow: hidden;
}

.property {
  height: 100%;
  background-color: lightskyblue;
  width: 33%;
  border-radius: 10px;
}

.round {
  background: #ecf5e4;
  width: 100px;
  height: 100px;
  border: 24px solid #95cd8b;
  border-radius: 100px;
  border-right: 24px solid #d0e6bb;
  text-align: center;
}

.font-round {
  font-size: 33px;
}

.box {
  display: flex;
  gap: 5px;
  height: 500px;
}

.one {
  flex: 1;
  text-align: center;
}
.one:hover {
  box-shadow: 0.1px 2px 10px 2px rgb(107, 106, 106);
}

.two {
  flex: 1;
  text-align: center;
}
.two:hover {
  box-shadow: 0.1px 2px 10px 2px rgb(107, 106, 106);
}

.three {
  flex: 1;
  text-align: center;
}
.three:hover {
  box-shadow: 0.1px 2px 10px 2px rgb(107, 106, 106);
}

.weather-image {
  width: auto;
  height: auto;
}

.weather-font-color {
  background-color: rgb(60, 154, 243);
  width: auto;
  color: white;
  font-size: 50px;
}

.hovered-div {
  border: 1px solid black;
  width: 120px;
  text-align: center;
}

.ddd {
  text-decoration: none;
  color: black;
}

.ddd:hover {
  color: red;
}

.hovered-div:hover {
  background: wheat;
}

.round-layout6 {
  background: #95cd8b;
  width: 100px;
  height: 100px;
  border: 24px solid #95cd8b;
  border-radius: 100px;
  text-align: center;
}

.round4-layout6 {
  background: purple;
  width: 100px;
  height: 100px;
  border: 24px solid purple;
  border-radius: 100px;
  text-align: center;
}

.round5-layout6 {
  background: gray;
  width: 100px;
  height: 100px;
  border: 24px solid gray;
  border-radius: 100px;
  text-align: center;
}

.font-round5-layout6 {
  font-size: 33px;
  color: black;
}

.box-layout6 {
  display: flex;
  height: 500px;
}

.font-round-layout6 {
  font-size: 33px;
  color: white;
}

.line {
  width: 110px;
  margin-top: 70px;
  border-top: 10px solid gray;
}

.feedback {
  border-radius: 0px 10px 10px 0px;
  width: 300px;
  background: #333;
  color: #fff;
  border-right: 40px solid orange;
  position: fixed;
  min-height: 100px;
  top: 100px;
  padding: 10px;
  left: 0;
  margin-left: -320px;
}

.feedback:hover {
  left: 0;
  transition: 0.5s ease-in-out;
  margin-left: 0px;
}

.feedback::after {
  content: "Обратная связь";
  color: #000;
  position: absolute;
  transform: rotate(-90deg);
  right: -60px;
  bottom: 50px;
  margin-top: 60px;
}
