.container {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 4);
  border-radius: 5px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  width: 605px;
}

.item {
  width: 200px;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  margin: 10px 0;
}

.button-style {
  background-color: rgb(255, 94, 0);
  color: rgb(248, 245, 245);
  padding: 5px 10px;
  font-size: 15px;
  border: none;
}

.body {
  background: #4e6379;
}

h3 {
  color: rgb(255, 94, 0);
}

.img {
  width: 90px;
}
